/*
	Nilkanth Patel / Portfolio

	Author: Nilkanth Patel
	Email: me@nilkanthpatel.com

	Description: Key colors for the portfolio.

*/

$colors: (
	phase-1: #9013FE,
	phase-2: #50E3C2,
	phase-3: #F9A90C,

	body: #4A4A4A,
	
	gray-very-light: #F6F6F6,
	gray-light: #9B9B9B,
	gray-dark: #9B9B9B,

	link: #9B9B9B,
	link-hover: #4A4A4A

);