/* Header variables */

$header-height-desktop: 10px;
$header-border-desktop: 4px;

$header-height-mobile: 7px;
$header-border-mobile: 2px;

$desktop-padding: 30px;

$home-gradient-height: 100px;
$home-desktop-like-width: 200px;

$icon-border: 2px;
$icon-padding: 10px;

$footer-button-size: 50px;


/* Media Query Variables */

$media-mobile: "only screen and (max-width : 500px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-desktop: "only screen and (max-width : 1024px)";